<div class = 'container ajustes'>
<form autocomplete="off" [formGroup]="autor" (ngSubmit)="onSubmit(autor.value)">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre y apellidos"
               formControlName="nombre"
               [class.is-invalid]="nombreNovalido"><small *ngIf="nombreNovalido">Inserte Nombre y apellido</small>
        
               
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Email"
               formControlName="mail"
              [class.is-invalid]="mailNovalido"><small *ngIf="mailNovalido">Inserte email con formato correcto</small>
   
              
      </div>
    </div>

  </div>

  
          

  <div class="form-group row">
    <label class="col-2 col-form-label">Avatar</label>
    <div class="col">
  
 <input type="file"
 id="file"
 name="image"
 accept=".png, .jpg ,.jpeg"
(change)="procesarFile($event)"
 autocomplete="off"

 />
        
    </div>
  </div>

  <div class= "row" >
<button type="button" class="nav-link btn btn-outline-success 
 w-50" type="submit" style="text-align:center" >Enviar</button>

 
  </div>

</form>
 </div>